{template 'content', 'header'}
<div class="categoryimage"><img src="{APP_PATH}statics/default/images/aboutbanner.jpg" alt=""></div>
<div class="min-width-1300">
	<div class="container">
		<div class="crumb">中国游乐APP &gt; 问答列表</div>
		<div class="forum_title"><a href="?m=app&c=forum&a=artlists">文章列表</a><a class="current" href="javascript:;">问答列表</a></div>
		{loop $forums $r}
		<div class="app_forum">
			<div class="pic"><img src="{if $r[headerimg] != ''}{$r[headerimg]}{else}{IMG_PATH}nophoto.gif{/if}" width="80" height="80" alt=""></div>
			<div class="info">
				<div class="title">{$r[nickname]}</div>
				<div class="attr">{$r[addtime]} <span>浏览人数：{$r[view]}</span></div>
				<div class="des"><a href="?m=app&c=forum&a=show&type=ask&id={$r[inter_id]}">{$r['brief']}</a></div>
				<div class="info3">
					{loop $r[images_url] $img}
					<img src="{$img}" width="190" height="190" alt="">
					{/loop}
				</div>
			</div>
		</div>
		{/loop}
		<div id="pages">{$pages}</div>
		
	</div>
</div>


{template 'content', 'footer'}