<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0"/>
	<meta name="format-detection" content="telephone=no" />
	<title>一起点亮中国文旅地图</title>
	<meta name="keywords" content="一起点亮中国文旅地图">
	<meta name="description" content="一起点亮中国文旅地图">
	<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/default/css/guoqing.css">
	<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/plugin/layui/css/layui.css">
	<link rel="icon" href="{APP_PATH}statics/images/icon/red_flag.png" type="image/x-icon"/> 

	<link rel="stylesheet" href="{APP_PATH}statics/plugin/layui/css/modules/layer/default/layer.css">
	<script type="text/javascript" src="{APP_PATH}statics/default/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="{APP_PATH}statics/default/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{APP_PATH}statics/plugin/layui/lay/modules/layer.js"></script>
	<style type="text/css">
		.formContent {
			width: 300px;
			margin: 0 auto;
		}
		.inputstyle {
			border: none;
			background: none;
			border-bottom: 3px solid #c9352b;
			color: #bf130f;
			text-align: left;
		}
		.layui-form-label {
			color: #bf130f;
			width: 60px;
		}
		.layui-input-block{
			margin-left: 95px;
		}
		.layui-input, .layui-textarea {
			padding-left: 0px;
		}

		input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
		/* WebKit browsers */ 
		color: #bf130f; 
		} 
		input:-moz-placeholder, textarea:-moz-placeholder { 
		/* Mozilla Firefox 4 to 18 */ 
		color: #bf130f; 
		} 
		input::-moz-placeholder, textarea::-moz-placeholder { 
		/* Mozilla Firefox 19+ */ 
		color: #bf130f; 
		} 
		input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
		/* Internet Explorer 10+ */ 
		color: #bf130f; 
		}
	</style>
</head>
<body>
	<div class="part part1">
		<img src="/statics/guoqing/guoqing_01.jpg" alt="" />
	</div>
	<div class="part part2">
		<img src="/statics/guoqing/guoqing_02.jpg" alt="" />
	</div>
	<div class="container">
		<div id="allmap" style="height: 400px; width: 100%;"></div>
		<div class="form_box">
			<form class="layui-form formContent" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">我是</label>
					<div class="layui-input-block">
						<input type="text" name="name" placeholder="姓名" class="layui-input inputstyle">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">我在</label>
					<div class="layui-input-block">
						<input type="text" name="jingdian" placeholder="乐园/景点名称" class="layui-input inputstyle">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">手机号</label>
					<div class="layui-input-block">
						<input type="text" id="mobile" name="mobile" placeholder="" class="layui-input inputstyle">
						<div class="getcode">发送验证码</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">验证码</label>
					<div class="layui-input-block">
						<input type="text" name="mobile" placeholder="" class="layui-input inputstyle">
					</div>
				</div>
				<div class="submit"><img src="/statics/guoqing/guoqing_10.png" alt="" /></div>

			</form>
			<div class="part" style="margin-top: 50px;">
				<img src="/statics/guoqing/guoqing_13.jpg" alt="" />
			</div>
		</div>
		
	</div>
	<div class="part bottom">
		<img src="/statics/guoqing/guoqing_14.jpg" alt="" />
	</div>



	<script src="{APP_PATH}statics/plugin/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=4y8GNKB2Coct45eFxZWslUWlzWD6Gvdt"></script>
	<script type="text/javascript">
		var longitude = '', latitude = ''; // 定义用户经纬度
		var list = JSON.parse('<?php echo $list; ?>'); // 初始化已点亮的经纬度
		var myIcon = new BMap.Icon("http://www.caapa.org/statics/images/icon/red_flag.png", new BMap.Size(16, 16)); // 自定义标记图标

		// 初始化百度地图，并获取用户经纬度坐标
		var map = new BMap.Map("allmap");
		var point = new BMap.Point(103.460025, 35.851543);
		map.centerAndZoom(point, 5); // 设置地图中心点，及级别
		map.setMapStyle({     
		  styleId: '3c4909433d74650322f8fabfc69f8686'
		});
		map.enableScrollWheelZoom(true);  // 设置鼠标滑轮缩放

		var geolocation = new BMap.Geolocation();
		geolocation.getCurrentPosition(function(r){
			if(this.getStatus() == BMAP_STATUS_SUCCESS){
				// var mk = new BMap.Marker(r.point);
				// map.addOverlay(mk);
				// map.panTo(r.point);
				// alert('您的位置：'+r.point.lng+','+r.point.lat);
				longitude = r.point.lng;
				latitude = r.point.lat;
			}
			else {
				alert('failed'+this.getStatus());
			}        
		});

		// 初始化已点亮的经纬度
		$.each(list, function(){
			point = new BMap.Point(this.longitude, this.latitude);
			var marker = new BMap.Marker(point, {icon:myIcon});
			map.addOverlay(marker);
		})


		layui.use(['form'], function(){
		  	var form = layui.form
		  		,layer = layui.layer
			// 提交表单
			//监听提交
			$('.submit').click(function(){
				var name = $("input[name='name']").val();
				var mobile = $("input[name='mobile']").val();
				var jingdian = $("input[name='jingdian']").val();

				// 验证数据
				if(name == '') {
					layer.msg('姓名必填', {icon:2});
					return false;
				}
				if(/^1[345678]\d{9}$/.test(mobile) ==  false) {
					layer.msg('手机号格式不正确', {icon:2});
					return false;
				}


				$.ajax({
					url: "/api.php?op=guoqing",
					type: 'post',
					dataType: 'json',
					data: {name: name, mobile: mobile, jingdian: jingdian, longitude: longitude, latitude: latitude},
					success: function(data){
						if(data.code == 200){
							layer.msg('提交成功', {icon:1}, function(){
								// 将用户的地理位置标注
								point = new BMap.Point(longitude, latitude);
								 
								var marker = new BMap.Marker(point, {icon:myIcon});
								map.addOverlay(marker);
							});
						} else {
							layer.msg('提交失败', {icon:2})
						}
					}
				})
			})
		})


		// 发送手机验证码
		$('.getcode').click(function(){
			var form = $(this).parents('form');
			// 手机号码验证
			var moble = form.find('#moble').val();
			if(!isPhone(moble)){
				tips('手机号格式错误', '#moble');
				return false;
			}
			// 判断是否已发送，计时发送
			if($(this).attr('disabled') == 'disabled'){
				return false;
			}

			
			// 可以发送验证码
			$.cookie('second', 60);
			settime($('.getcode'));

			$.ajax({
				url: '?m=app&c=register&a=sendMobileCode',
				type:'post',
				dataType:'json',
				data:{phone:phone, type:1},
				success: function(data){
					if(data.code == 400){
						layer.msg(data.msg)
						$.cookie('second', 0);
						return false;
					}
					if(data.code == 200){
						
						layer.msg('验证码发送成功');
					}
				},
				error: function(){
					layer.msg('服务器错误');
				}
			})
		})

		// 刷新页面计算验证码发送时间
		settime($('.getcode'));

		function tips(message, id){
			layer.tips(message, id, {tips:[1, '#000']})
		}

		function isPhone(phone){
			var reg_mobile = /^1[34578]\d{9}$/;
			return reg_mobile.test(phone);
		}

		//开始倒计时
		var countnum;
		function settime(obj, type='phone') { 
			if(type == 'phone'){
				countnum=$.cookie("second");
			} else if (type == 'email') {
				countnum=$.cookie("second_email");
			}
		
			if (countnum == 0) { 
				obj.removeAttr("disabled");
				obj.removeClass('disabled');
				obj.html("获取验证码"); 
				return;
			} else if(countnum>0){ 
				obj.attr("disabled", true);
				obj.addClass('disabled');
				obj.html("重新发送(" + countnum + ")"); 
				countnum--;

				if(type == 'phone'){
					$.cookie("second", countnum);
				} else if (type == 'email') {
					$.cookie("second_email", countnum);
				}
				
			} 
			setTimeout(function() { settime(obj, type) },1000) //每1000毫秒执行一次
		}

	</script>

	<!-- 微信分享 -->
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script type="text/javascript">
		wx.config({
		  debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		  appId: 'wx7b1b84d27f85d7c4', // 必填，公众号的唯一标识
		  timestamp: '{$timestamp}', // 必填，生成签名的时间戳
		  nonceStr: '{$nonceStr}', // 必填，生成签名的随机串
		  signature: '{$signature}',// 必填，签名
		  jsApiList: ['updateAppMessageShareData'] // 必填，需要使用的JS接口列表
		});

		wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
			wx.updateAppMessageShareData({ 
				title: '我叫___，是第 位文旅人，我坚守在____（填写的景区/乐园名字）！让我们一同接力点亮中国文旅地图，为祖国献礼！', // 分享标题
				desc: '一起点亮中国文旅地图描述', // 分享描述
				link: '{$url}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				imgUrl: '{APP_PATH}statics/images/icon/red_flag.png', // 分享图标
				success: function () {
					// 设置成功
				}
			})
		});
	</script>
</body>
</html>
	