<!-- 照片列表 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <script src="statics/mobile/js/rem.js"></script>
    <link rel="stylesheet" href="statics/mobile/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="statics/mobile/css/css/global.css">
    <link rel="stylesheet" href="statics/mobile/css/css/index.css">
    <link rel="stylesheet" href="statics/mobile/css/css/slider.css">
</head>

<body>

    <div id="ctrl">
        <span class="ctr-icon glyphicon glyphicon-list"></span>
    </div>

    <div id="box">
        <!-- ==============================================================
        左侧内容区域
============================================================== -->
        <div id="left-box">
            <!-- 轮播图 -->
            <div class="slider">
                <img class="img-100" src="statics/default/images/aboutbanner.jpg" alt="">
            </div>
            <!-- 轮播图 END -->
            <!-- 导航区域 -->
            {template "public", 'top', 'mobile'}
            <!-- 导航区域 END -->

            <!-- 面包屑导航 -->
            <div class="nav-link left-center padding-1 text-1">
                中国游乐APP &gt; 招聘列表
            </div>
            <p class="color-1 margin-lr-1 padding-b-05 border-bottom">招聘列表</p>
            <!-- 面包屑导航 END -->


            <div class="padding-1">
                <img src="{get_extend_setting('recruit_banner')}" alt="" class="img-100">
                <ul>
                    {loop $recruits $r}
                    <li class="item between-center padding-tb-1 border-bottom" onclick="window.location='?m=app&c=recruit&a=show&id={$r[advertise_id]}'">
                        <div class="left-center">
                            <img src="statics/mobile/img/logo.jpg" alt="" class="icon-logo-2">
                        </div>
                        <div class="flex-1 margin-left-1">
                            <p class="text-blod">{$r[name]}</p>
                            <p class="margin-bottom-1">
                                <span class="border-right color-price padding-r-05">{$r[wages]}</span>
                                <span class="border-right padding-lr-05">{$r[local_name]}</span>
                                <span class="border-right padding-lr-05">{$r[education]}</span>
                                <span class=" padding-lr-05">{$r[experience]}</span>
                            </p>
                            <p class="text-3 color-5">{$r[enterprise_name]}</p>
                            <p class="text-3 color-5">{$r[uptime]}</p>
                        </div>
                    </li>
                    {/loop}
                </ul>
            </div>


            <div class="line"></div>
            <!-- footer -->
            {template "public", 'footer', 'mobile'}
        </div>
        <!-- 左侧内容区域 END -->



        <!-- ==============================================================
        右侧菜单区域
============================================================== -->
        {template "public", 'rightMenu', 'mobile'}
    </div>
    <script src="statics/mobile/js/jquery.min.js"></script>
    <script src="statics/mobile/bootstrap/js/bootstrap.min.js"></script>
    <script src="statics/mobile/js/index.js"></script>
    <script src="statics/mobile/js/slider.js"></script>
    <script src="statics/mobile/js/global.js"></script>
</body>

</html>