<!-- 注册 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <script src="statics/mobile/js/rem.js"></script>
    <link rel="stylesheet" href="statics/mobile/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="statics/mobile/css/css/global.css">
    <link rel="stylesheet" href="statics/mobile/css/css/index.css">
    <link rel="stylesheet" href="statics/mobile/css/css/slider.css">
    <link rel="stylesheet" href="statics/plugin/layui/css/modules/layer/default/layer.css">
</head>
    <style>
        body {
            width: 100%;
            height: 100vh;
            /* background: #419DEA; */
            background-image: url('statics/mobile/img/regbg.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .box {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: .5rem;
            padding: 0;
            overflow: hidden;
        }
        .box .tab {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
        }
        .box .tab div {
            padding: .8rem 1.5rem;
            white-space: nowrap;
            background: #5B6A7D;
        }
        .box .tab .active {
            color: #5B6A7D;
            background: #fff;
        }
        .box .qiye-con div ,
        .box .geren-con div {
            width: 100%;
            /* padding: 0 .5rem; */
        }
        .box .qiye-con div input,
        .box .geren-con div input{
            width: 97%;
        }
        .box .qiye-con,
        .box .geren-con {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 1rem
        }
        .box input {
            border-radius: 4px;
            border: 1px solid rgba(0,0,0,.2);
            padding: .3rem;
            margin: .3rem;
            font-size: 1.2rem;
        }
        .box .choose-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .box .choose-box a {
            font-size: 1.2rem;
            margin: 0;
            padding: 0;
        }
        .box .geren-con div .box .choose {
            display: flex;
            padding-left: 1rem;
            width: 40%;
        }
        .box .choose img {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: .3rem;
        }
        .box .choose p {
            display: inline-block
        }
        .box .singup {
            margin: 1rem;
            background: #F39800;
            text-align: center;
            color: #fff;
            padding: .3rem 0;
            border-radius: 4px;
        }
        .code-box {
            position: relative;
        }
        .code-box .code {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.2rem;
            color: #38f;
        }
        .code-active {
            color: rgba(0,0,0,.4) !important
        }
    

    </style>
<body>

    <div class="box">
        <div class="tab">
            <div data-tab="0" class="qiye active">注册企业账户</div>
            <div data-tab="1" class="geren">注册个人账户</div>
        </div>
        <form class="qiye-con">
            <input type="text" id="email" name="email" placeholder="请输入邮箱">
            <div class="code-box">
                <input class="code-con" type="text" name="vcode" id="vcode_email" placeholder="请输入验证码">
                <span data-code="0" class="code getEmailcode">获取验证码</span>
            </div>
            <input class="password1" type="text" name="pwd" id="pwd_email" placeholder="请输入密码">
            <input class="password2" type="text" name="confirm_pwd" id="confirm_pwd_email" placeholder="请确认密码">
            <div class="choose-box">
                <div data-choose="0" class="choose">
                    <img src="statics/mobile/img/winfo-icon-复选未选中.png" alt="">
                    <p>我同意</p> 
                </div>
                <a href="#">《用户注册协议》</a>
            </div>
            <div class="singup company_submit">注册</div>
        </form>
        <form class="geren-con" style="display:none">
            <input type="text" id="Mobile" name="phone" placeholder="请输入手机号">
            <div class="code-box">
                <input class="code-con" type="text" name="vcode" id="vcode_phone" placeholder="请输入验证码">
                <span data-code="1" class="code getcode">获取验证码</span>
            </div>
            <input class="password1" type="text" name="pwd" id="pwd" placeholder="请输入密码">
            <input class="password2" type="text" name="confirm_pwd" id="confirm_pwd" placeholder="请确认密码">
            <div class="choose-box">
                <div data-choose="0" class="choose">
                    <img src="statics/mobile/img/winfo-icon-复选未选中.png" alt="">
                    <p id="#agree">我同意</p> 
                </div>
                <a href="#">《用户注册协议》</a>
            </div>
            <div class="singup person_submit">注册</div>
        </form>
        
    </div>

    </div>
    <script src="statics/mobile/js/jquery.min.js"></script>
    <script src="statics/mobile/bootstrap/js/bootstrap.min.js"></script>
    <script src="statics/mobile/js/index.js"></script>
    <script src="statics/mobile/js/slider.js"></script>
    <script src="statics/mobile/js/global.js"></script>
    <script type="text/javascript" src="statics/plugin/layui/lay/modules/layer.js"></script>
    <script type="text/javascript" src="statics/default/js/jquery.cookie.js"></script>
    <script>

        /**
         * 判断是否同意《用户注册协议》
         * data-choose:   0 未选中    1 选中
        */
         $('.choose').on('click', function () {
            console.log($(this).attr('data-choose'))
            if($(this).attr('data-choose') == 0) {
                $(this).attr('data-choose', 1)
                $(this).find('img').prop('src', 'statics/mobile/img/winfo-icon-复选选中.png')
            } else if ($(this).attr('data-choose') == 1) {
                $(this).attr('data-choose', 0)
                $(this).find('img').prop('src', 'statics/mobile/img/winfo-icon-复选未选中.png')
            }
        })

        /**
         * 判断tab点击
         * data-tab   0 注册企业账户    1 注册个人账户
        */
        $('.tab').on('click', function (e) {
            console.log($(e.target).attr('data-tab'))
            if($(e.target).attr('data-tab') == 0) {
                $('.qiye-con').css('display','flex');
                $('.geren-con').css('display','none');
                $(this).find('div').removeClass('active');
                $(e.target).addClass('active');
            } else if($(e.target).attr('data-tab') == 1) {
                $('.qiye-con').css('display','none');
                $('.geren-con').css('display','flex');
                $(this).find('div').removeClass('active');
                $(e.target).addClass('active');
            }
        })

        /**
         * 发送验证码
         * data-code 0 企业账户    1 个人账户
        */
       /*$('.code').on('click', function (e) {
           let that = this;
            console.log($(this).attr('data-code'))
            let code = 60;
            if($(this).attr('data-code') == 0) {
                var email = $('#email').val();
                var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
                if(reg.test(email)){
                    console.log("邮箱格式正确");
                }else{
                    alert("邮箱格式不正确");
                    return
                }
                var timer = setInterval(function () {
                    console.log($(that).text())
                    $(that).text('重新发送'+  '（' + code + '）')
                    $(that).addClass('code-active')
                    code--;
                    if(code == 0) {
                        clearInterval(timer)
                        $(that).text('重新发送')
                        $(that).removeClass('code-active')
                    }
                }, 1000)
            } else if ($(this).attr('data-code') == 1) {
                var Mobile = $("#Mobile").val()
                if(!(/^1[34578]\d{9}$/.test(Mobile))){ 
                    alert("手机号码有误，请重填");  
                    return false; 
                } 
                var timer = setInterval(function () {
                    $(that).text('重新发送'+  '（' + code + '）')
                    $(that).addClass('code-active')
                    code--;
                    if(code == 0) {
                        clearInterval(timer)
                        $(that).text('重新发送')
                        $(that).removeClass('code-active')
                    }
                }, 1000)
            }
       })*/


        // 发送邮箱验证码
        $('.getEmailcode').click(function(){
            var form = $(this).parents('form');
            // 邮箱验证
            var email = form.find('#email').val();
            if(!isEmail(email)){
                tips('邮箱号格式错误', '#email');
                return false;
            }

            // 判断是否已发送，计时发送
            if($(this).attr('disabled') == 'disabled'){
                return false;
            }

            
            // 可以发送验证码
            $.cookie('second_email', 60);
            settime($(this), 'email');

            $.ajax({
                url: '?m=app&c=register&a=sendEmailCode',
                type:'post',
                dataType:'json',
                data:{email:email, type:1},
                success: function(data){
                    if(data.code == 400){
                        layer.msg(data.msg)
                        $.cookie('second_email', 0);
                        return false;
                    }
                    if(data.code == 200){
                        
                        layer.msg(data.msg);
                    }
                },
                error: function(){
                    layer.msg('服务器错误');
                }
            })
        })
        // 刷新页面计算验证码发送时间
        settime($('.getcode'));

        // 发送手机验证码
        $('.getcode').click(function(){
            var form = $(this).parents('form');
            // 手机号码验证
            var phone = form.find('#Mobile').val();
            if(!isPhone(phone)){
                tips('手机号格式错误', '#Mobile');
                return false;
            }
            // 判断是否已发送，计时发送
            if($(this).attr('disabled') == 'disabled'){
                return false;
            }

            
            // 可以发送验证码
            $.cookie('second', 60);
            settime($('.getcode'));

            $.ajax({
                url: '?m=app&c=register&a=sendMobileCode',
                type:'post',
                dataType:'json',
                data:{phone:phone, type:1},
                success: function(data){
                    if(data.code == 400){
                        layer.msg(data.msg)
                        $.cookie('second', 0);
                        return false;
                    }
                    if(data.code == 200){
                        
                        layer.msg('验证码发送成功');
                    }
                },
                error: function(){
                    layer.msg('服务器错误');
                }
            })
        })
       /**
        * 注册验证
        * .active    data-tab   0 企业  1 个人
       */
      /*$('.singup').on('click', function () {
          console.log($('.active').attr('data-tab'))
          console.log($('.qiye-con .code').val())
          if($('.active').attr('data-tab') == 0) {
              if($('.qiye-con .code-con').val() == '') {
                  alert('请输入验证码')
                  return false;
              }
              if($('.qiye-con .password1').val().length < 6) {
                alert('密码长度不够')
                return false;
              }
              if($('.qiye-con .password1').val() != $('.qiye-con .password2').val()) {
                  alert('两次输入的密码不相同')
                  return false;
              }
          } else if ($('.active').attr('data-tab') == 1) {
              if($('.geren-con .code-con').val() == '') {
                  alert('请输入验证码')
                  return false;
              }
              if($('.geren-con .password1').val().length < 6) {
                alert('密码长度不够')
                return false;
              }
              if($('.geren-con .password1').val() != $('.geren-con .password2').val()) {
                  alert('两次输入的密码不相同')
                  return false;
              }
          }
          if($('.choose').attr('data-choose') == 0) {
              alert('未同意《用户注册协议》')
          }
      })*/


        // 提交表单验证
        $('.person_submit').click(function(){

            var form = $(this).parents('form');
            // 手机号码验证
            var phone = form.find('#Mobile').val();
            if(!isPhone(phone)){
                tips('手机号格式错误', '#Mobile');
                return false;
            }

            var vcode = form.find('#vcode_phone').val();
            if(vcode == ''){
                tips('请填写验证码', '#vcode_phone');
                return false;
            }

            var pwd = form.find('#pwd').val();
            if(pwd == ''){
                tips('请填写密码', '#pwd');
                return false;
            }

            var confirm_pwd = form.find('#confirm_pwd').val();
            if(confirm_pwd != pwd){
                tips('两次密码不一致', '#confirm_pwd');
                return false;
            }

            if(form.find('.choose').attr('data-choose') == 0){
                layer.msg('请同意《用户注册协议》', {icon:2})
                return false;
            }

            $(this).attr('disabled', true);
            var load = layer.load();
            $.ajax({
                url: '?m=app&c=register&a=registerUser',
                type: 'post',
                dataType: 'json',
                data: {mobile: phone, code: vcode, password: pwd, password_re: confirm_pwd},
                success: function (data){
                    layer.close(load);
                    if(data.code == 400){
                        layer.msg(data.msg);
                    }
                    if(data.code == 200){
                        layer.msg('注册成功', function(){
                            window.location='/';
                        });
                    }
                },
                error: function (){
                    layer.close(load);
                    layer.msg('服务器错误');
                }
            })

        })

        // 企业注册
        $('.company_submit').click(function(){
            
            var form = $(this).parents('form');

            var email = form.find('#email').val();
            if(!isEmail(email)){
                tips('邮箱格式错误', '#email');
                return false;
            }

            var vcode = form.find('#vcode_email').val();
            if(vcode == ''){
                tips('请填写验证码', '#vcode_email');
                return false;
            }

            var pwd = form.find('#pwd_email').val();
            if(pwd == ''){
                tips('请填写密码', '#pwd_email');
                return false;
            }

            var confirm_pwd = form.find('#confirm_pwd_email').val();
            if(confirm_pwd != pwd){
                tips('两次密码不一致', '#confirm_pwd_email');
                return false;
            }

            if(form.find('.choose').attr('data-choose') == 0){
                layer.msg('请同意《用户注册协议》', {icon:2})
                return false;
            }

            // $(this).attr('disabled', true);
            var load = layer.load();
            $.ajax({
                url: '?m=app&c=register&a=registerEnterpriseStep1',
                type: 'post',
                dataType: 'json',
                data: {email: email, code: vcode, password: pwd, password_re: confirm_pwd},
                success: function (data){
                    layer.close(load);
                    if(data.code == 400){
                        layer.msg(data.msg);
                    }
                    if(data.code == 200){
                        
                        layer.msg('还需填写企业资料才能成功注册，跳转中...', function(){
                            window.location='?m=app&c=register&a=registerEnterprise';
                        })
                    }
                },
                error: function (){
                    layer.close(load);
                    layer.msg('服务器错误');
                }
            })

        })

        function tips(message, id){
            layer.tips(message, id, {tips:[1, '#000']})
        }

        function isPhone(phone){
            var reg_mobile = /^1[34578]\d{9}$/;
            return reg_mobile.test(phone);
        }

        //检查email邮箱
        function isEmail(email){
            var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
            return reg.test(email);
        }


        //开始倒计时
        var countnum;
        function settime(obj, type='phone') { 
            if(type == 'phone'){
                countnum=$.cookie("second");
            } else if (type == 'email') {
                countnum=$.cookie("second_email");
            }
        
            if (countnum == 0) { 
                obj.removeAttr("disabled");
                obj.removeClass('disabled');
                obj.html("获取验证码"); 
                return;
            } else if(countnum>0){ 
                obj.attr("disabled", true);
                obj.addClass('disabled');
                obj.html("重新发送(" + countnum + ")"); 
                countnum--;

                if(type == 'phone'){
                    $.cookie("second", countnum);
                } else if (type == 'email') {
                    $.cookie("second_email", countnum);
                }
                
            } 
            setTimeout(function() { settime(obj, type) },1000) //每1000毫秒执行一次
        }

        // 协议
        $('.read_xieyi').click(function(){
            layer.open({
                type: 1,
                title: '《用户注册协议》',
                skin: 'layui-layer-rim', //加上边框
                area: ['600px', '500px'], //宽高
                content: '<div style="padding:10px;">{get_extend_setting("register_xieyi")}</div>'
            });
        })
    </script>

</body>

</html>