
body img {
    max-width: 100%;
}
li {
    list-style: none;
}
p {
    margin: 0;
    font-size: 1.4rem;
}
em {
    font-style: normal;
    color: #F01967;
}



.img-100 {
    width: 100%;
}
.img-50 {
    width: 50%;
}
.img-40 {
    width: 40%;
}
.img-100-h {
    height: 100%;
}
.center {
    margin: 0 auto;
}



.left-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.right-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-1 {
    flex: 1;
}
.flex-end {
    display: flex;
    align-items: flex-end;
}


.nowrap {
    flex-wrap: nowrap;
    white-space: nowrap;
}





.padding-top-1 {
    padding-top: 1rem;
}

.padding-1 {
    padding: 1rem;
    box-sizing: border-box;
}
.padding-b-3 {
    padding-bottom: .3rem;
}
.padding-b-10 {
    padding-bottom: 1rem;
}
.padding-tb-2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.pd-3 {
    padding: .3rem 0;
}
.padding-tb-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-lr-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-r-05 {
    padding-right: .5rem;
}
.padding-lr-05 {
    padding-left: .5rem;
    padding-right: .5rem;
}
.padding-lr-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}
.padding-tb-05 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.padding-b-05 {
    padding-bottom: 0.5rem;
    box-sizing: border-box;
}
.padding-right-1 {
    padding-right: 1rem;
    box-sizing: border-box;
}
.padding-left-1 {
    padding-left: 1rem;
}



.margin-1 {
    margin: 1rem;
}
.margin-top-4 {
    margin-top: 4rem;
}
.margin-top-3 {
    margin-top: 3rem;
}
.margin-top-2 {
    margin-top: 2rem;
}
.margin-top-1 {
    margin-top: 1rem;
}
.margin-top-05 {
    margin-top: .5rem;
}
.margin-r-05 {
    margin-right: .5rem;
}
.margin-r-5 {
    margin-right: 5rem;
}
.margin-l-05 {
    margin-left: .5rem;
}
.margin-lr-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-lr-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}
.margin-05 {
    margin: .5rem;
}
.margin-15 {
    margin: 1.5rem;
}
.margin-tb-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-bottom-1 {
    margin-bottom: 1rem;
}
.margin-bottom-2 {
    margin-bottom: 1.5rem;
}
.margin-left-1 {
    margin-left: 1rem;
}




.text-indent {
    text-indent: 2em;
    text-align: justify
}
.text-blod {
    font-weight: 600;
}
.text-left {
    text-align: left;
}







.text-title {
    font-size: 1.6rem;
}
.text-1 {
    font-size: 1.4rem;
}
.text-2 {
    font-size: 1.2rem;
}
.text-3 {
    font-size: 1rem;
}



.border-bottom {
    border-bottom: .1rem solid rgba(0,0,0,0.1);
}
.border-right {
    border-right: .1rem solid rgba(0,0,0,0.3);
}
.title-bg {
    background-image: url('../../img/titbg.jpg');
    background-size: 6.2rem .5rem;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}





.color-blue {
    color: #3A72C1;
}
.color-price {
    color: #F9941C;
}
.color-8 {
    color: rgba(0,0,0,0.8);
}
.color-6 {
    color: rgba(0,0,0,0.6);
}
.color-5 {
    color: rgba(0,0,0,0.5);
}
.color-2 {
    color:#E7356D;
}
.color-1 {
    color: #C06768;
}
.color-link {
    color: #66C2F5;
}
.color-f {
    color: #fff;
}





.line {
    width: 100%;
    height: 1rem;
    background: #F6F6F6;
}




.icon-nav2 {
    width: 2.5rem;
}
.icon-nav {
    width: 4rem;
}
.icon-1 {
    width: 3rem;
}
.icon-2 {
    width: 2rem;
}
.icon-code {
    width: 7rem;
}
.icon-logo-2 {
    width: 4rem;
}
.icon-logo {
    width: 2rem;
}
.icon-big {
    width: 8rem;
}





* {
    margin: 0;
    padding: 0;
}
/**
 * 布局
 * 两栏
 */
#ctrl {
    position: fixed;
    text-align: center;
    line-height: 3rem;
    right: 10%;
    top: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    color: #fff;
    width: 3rem;
    height: 3rem;
    z-index: 10;
}
#box {
    position: relative;
}
#left-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}
#right-box {
    position: fixed;
    top: 0;
    right: -70%;
    width: 70%;
    background: #AC3133;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: scroll;
}

/**
 * 导航条
 */
 .top-nav {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    box-shadow: 0rem .3rem .3rem rgba(0,0,0,0.1)
}

.search {
    position: relative;
    margin-left: .2rem;
}
.search-icon {
    position: absolute;
}
.search-icon_self {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1.5rem;
    top: 48%;
    transform: translateY(-50%);
}
.search input {
    border: none;
    border-radius: 2rem;
    background: #E4E4E4;
    padding: .2rem;
    /* background-image: url('../../img/searchbg.jpg'); */
    background-size: cover;
    margin-left: 1rem;
    padding-left: 2.6rem;
    outline:none;
}
.top-nav a {
    margin-left: .5rem;
}
.nav-link {
    display: flex;
    flex-wrap: wrap
}
.nav-link a {
    color: #222;
    white-space: nowrap;
}
.icon-logo_self {
    width: 20px;
}
.nowrap {
    white-space: nowrap;
}

/* nav-2 */
.top-nav-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    box-sizing: border-box;
    box-shadow: 0rem 0.3rem 0.3rem rgba(0,0,0,0.1);
}
.top-nav-2 .nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin-right: 1rem
}
.top-nav-2 .nav-left .search-2 {
    position: relative;
    margin-left: .2rem;
    flex: 1;
}
.top-nav-2 .nav-left .search-2 input {
    width: 100%;
    background: #F6F6F6;
    border: none;
    border-radius: 2rem;
    padding: .3rem 1rem .3rem 2.4rem;
    font-size: 12px;
    outline: none;
    height: 25px;
    box-sizing: border-box;
    line-height: 25px;
}
.top-nav-2 .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    white-space: nowrap;
}
.top-nav-2 .nav-right a {
    margin-left: .5rem
}






/**
 * footer
 */

.footer {
    padding: 1rem 2rem;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
}
.footer-wrap li p {
    padding-bottom: 1rem;
}

.footer-text .left { 
    align-self: flex-start;
    width: 6.3rem;
    white-space: nowrap;
    width: 7rem;
}
.footer-text .right {
    align-self: flex-start;
    flex: 1;
    padding-bottom: .4rem;
}
.footer-shengming {
    background: #F6F6F6;
}
/* 测试git */





/***
 * ==================================
 *  右侧
 * ==================================
 */
 .accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.accordion > li {
    padding: 1rem 0;
    /* border-bottom: 1px solid #CCC; */
}
.accordion .link {
   cursor: pointer;
   display: block;
   /* padding: 15px 15px 15px 42px; */
   color: #fff;
   font-size: 14px;
   font-weight: 700;
   /* border-bottom: 1px solid #CCC; */
   position: relative;
   -webkit-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.accordion li:last-child .link {
   border-bottom: 0;
}

.accordion li span {
   position: absolute;
   /* top: 16px; */
   left: 12px;
   font-size: 18px;
   color: #fff;
   -webkit-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.accordion li span.glyphicon-menu-right {
   right: 12px;
   left: auto;
   font-size: 16px;
}

.accordion li.open .link {
   /* color: #b63b4d; */
}

.accordion li.open span {
   /* color: #b63b4d; */
}
.accordion li.open span.glyphicon-menu-right {
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   transform: rotate(90deg);
}
.accordion a {
    color: #fff;
}

/**
* Submenu
-----------------------------*/
.submenu {
    display: none;
    /* background: #444359; */
    font-size: 14px;
}

.submenu li {
    /* border-bottom: 1px solid #fff; */
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    margin: 1rem;
    padding: .5rem 0;
    /* padding-left: 42px; */
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    /* border-bottom: 1px solid #fff; */
}

.submenu a:hover {
    /* background: #b63b4d; */
    /* color: #FFF; */
}

.btn-empty {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 1px solid #BA240C
}
.btn-border-1 {
    background: #fff;
    border: 1px solid #AC3133;
    color: #AC3133;
    padding: .5rem 1rem;
    border-radius: .3rem;
}
.btn-war {
    background: #AB3131;
    border: none;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .3rem;
}
.btn-def {
    background: #80B0C7;
    border: none;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .3rem;
}
.btn-border {
    background: #fff;
    border: 1px solid #F01967;
    color: #F01967;
    padding: .5rem 1rem;
    border-radius: .3rem;
}
.btn-AB {
    background: #F01967;
    border: none;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.shadow {
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.05),-.3rem -.3rem .5rem rgba(0,0,0,0.03) ;
    border-radius: .5rem;
}
.inp {
    display: block;
    width: 100%;
    border: none;
    background: #F6F6F6;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}

.bg-red-1 {
    background: #AC3133;
    color: #fff;
}
.bg-red {
    background: #F01967;
    color: #fff;
}
.bg-gray-1 {
    background: #F6F6F6;
}
.bg-gray {
    background: rgba(0,0,0,0.05);
}
.bi-bit {
    background-image: url('../../img/index_h.jpg');
}



td {
    border: 1px solid rgba(0,0,0,0.1)
}
table {
    border: 1px solid rgba(0,0,0,0.1)
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 400;
}



/**
 * 分页
 */
#pages {
    margin: 1rem;
    text-align: center;
}
#pages span {
    background: #38f;
    display: inline-block;
    color: #fff;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    border-radius: 4px;
    line-height: 1.6rem;
}



.scro-box p {
    font-size: 8px;
}
.scro-tex {
    text-overflow: ellipsis;
}