body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div, input, dl, dt{margin:0;padding:0;border:0;} 
body{background:#fff;color:#000; font-size:14px; font-family:"Microsoft Yahei","微软雅黑",arial,"\5b8b\4f53";} 

ul,ol{list-style-type:none;} 
input, a {outline: none;}
 
a {color:#000; text-decoration:none;} 
a:visited {text-decoration:none;} 
a:hover {color:#ad0400;text-decoration:none;} 
a:active {color:#ad0400;} 
.fr {float: right;}
.fl {float: left;}
.overflow {overflow: hidden;}
.clear {clear: both; height: 0}
/*.min-width-1300 {min-width: 1300px;}*/

.top_title { height: 40px; line-height: 40px; font-size: 14px; border-bottom: 1px solid #eee; text-align: center; background: #cf041a; color: #ffe335; }
.container { font-size: 14px; color: #ffe335; padding: 15px; text-align: justify; background-image: url('../images/gqpf.jpg'); background-size: 100% auto;}
.description p { text-indent: 2em; line-height: 24px; }
input {background: #eee;}