body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div, input, dl, dt{margin:0;padding:0;border:0;} 
body{background:#fff;color:#000; font-size:14px; font-family:"Microsoft Yahei","微软雅黑",arial,"\5b8b\4f53";} 

ul,ol{list-style-type:none;} 
input, a {outline: none;}
 
a {color:#000; text-decoration:none;} 
a:visited {text-decoration:none;} 
a:hover {color:#ad0400;text-decoration:none;} 
a:active {color:#ad0400;} 
.fr {float: right;}
.fl {float: left;}
.overflow {overflow: hidden;}
.clear {clear: both; height: 0}
/*.min-width-1300 {min-width: 1300px;}*/

/* .top_title { height: 30px; line-height: 30px; background: url('../images/gqtitle.png') left center repeat-x; font-size: 14px; border-bottom: 1px solid #eee; text-align: center; color: #b4341c; }
.container { font-size: 14px; color: #ffe335; padding: 15px; text-align: justify; background-image: url('../images/gqpf.jpg'); background-size: 100% auto;}
.description p { text-indent: 2em; line-height: 24px; }
input {background: #eee;} */
.part{text-align: center; max-width: 640px; margin: 0 auto;}
.part img {width: 100%}
.container {background: url('../../guoqing/guoqing_03.jpg') center top repeat-y; background-size: 100% auto; max-width: 610px; margin: 0 auto; padding: 15px 15px 0;}
.form_box { background: #fff3c5 url('../../guoqing/guoqing_06.jpg') center top no-repeat; background-size: 100% auto; padding-top: 150px; margin-top: 15px; font-size: 18px;}
.getcode { padding: 5px 10px; background: #bf130f; border-radius: 30px; position: absolute; right: 0px; top: 0px; font-size: 12px; color: #FFF; cursor: pointer;}
.submit {  text-align: center; }
.submit img {width: 100%;}
.shadow { position: absolute; z-index: 100; background: #000; filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5; }